.message-list {
  grid-area: main;
  background-color: #C0C0C0;
  height: 100%;
  padding-top: 1%;
  padding-left: 5%;
  margin: 0;
}

h1 {
  text-align: left;
}

.message {
  text-align: left;
}

.timestamp {
  text-align: right;
}

.username {
  font-weight: bold;
  text-align: left;
}
