.available-message-list {
  margin: 0 3rem;
  margin-bottom: 3rem;
}

.message-create {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.message-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.message-input-field {
  margin-bottom: 1rem;
  width: 90%;
}

.message-list-items {
  border: .2rem black dotted;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
}

.message-list-items:nth-child(odd) {
  background-color: #778899;
}

.message-text {
  font-size: 2rem;
  padding: 1rem;
}

.timestamp {
  font-size: 1.5rem;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}
