h2 {
  text-align: left;
}

input {
  float: left;
}

.create-room {
  text-align: left;
}

.create-room input {
  width: 80%;
  margin: 2%;
}

.delete-room {
  float: right;
  margin-right: 4%;
}

.room-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.room-list li {
  padding-bottom: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #A9A9A9;
  height: 100vh;
  padding-top: 2%;
  padding-left: 5%;
  margin: 0;
}
