h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 3rem;
  text-align: left;
}

.available-rooms {
  margin: 0 3rem;
  margin-bottom: 3rem;
}

.available-room-item {
  display: flex;
  justify-content: space-between;
}

.available-room-item > section {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem 0;
  margin-bottom: 2rem;
}
.create-room{
  display: flex;
  flex-direction: column;
  flew-flow: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 3rem;
}

.create-room > input {
  margin-top: 1rem
}

.delete-room-button {
  background-color: grey;
  border-color: black;
  border-radius: 1rem;
  margin: .5rem 0;
  text-align: center;
}
